<div class="card">
  
    <div class="card-header d-flex">
      <div class="p-2 m-0">
        <i class="bi bi-person-circle text-primary m-0"></i>
      </div>
      <div class="p-2 m-0">
        <%= comment.commenter %>
      </div>
      <div class="ms-auto p-2 m-0">
        <%= button_to [comment.article, comment],
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: 'btn botao-icone m-0 p-0' do %>
          <i class="bi bi-trash-fill text-danger"></i>
        <% end %>
      </div>
    </div>
    <div class="m-3">
      <strong>Comentário:</strong>
      <%= comment.body %>
    </div>
  

  
</div>